.modal(id="social")
	.modal__content.modal__social
		ul.social 
			li.social__item
				a.social__link(href="#") 
					img(src=require('./facebook (3) 1.svg'), alt="facebook")
			li.social__item
				a.social__link(href="#") 
					img(src=require('./twitter (1) 1.svg'), alt="twitter")
			li.social__item
				a.social__link(href="#") 
					img(src=require('./vk 2.svg'), alt="vk")
			li.social__item
				a.social__link(href="#") 
					img(src=require('./copy 1.svg'), alt="copy")
		button.modal__close
			img(src=require("./Vector-sm.svg"), alt="close")