.clients
	.container
		.clients__row
			.clients__image
				img(src=require("./Vectorclients.png"), alt="clients")
			.clients__image
				img(src=require("./Vectorclients-1.png"), alt="clients")
			.clients__image
				img(src=require("./Vectorclients-2.png"), alt="clients")
			.clients__image
				img(src=require("./Vectorclients-3.png"), alt="clients")
			.clients__image
				img(src=require("./Vectorclients-4.png"), alt="clients")
			.clients__image
				img(src=require("./Vectorclients-5.png"), alt="clients")